/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Yellow
COLOR CODE: #D5007E
----------------------------------------- */

/* text-theme-color */

.text-theme-colored {
  color: #D5007E !important;
}
/* text-hover-theme-color */

.text-hover-theme-colored:hover {
  color: #D5007E !important;
}
/* background-theme-color */

.bg-theme-colored {
  background-color: #D5007E !important;
}
.bg-theme-colored-lighter2 {
  background-color: #ffb00f !important;
}
.bg-theme-colored-lighter3 {
  background-color: #ffb31a !important;
}
.bg-theme-colored-lighter4 {
  background-color: #ffb724 !important;
}
.bg-theme-colored-darker2 {
  background-color: #f0a100 !important;
}
.bg-theme-colored-darker3 {
  background-color: #e69a00 !important;
}
.bg-theme-colored-darker4 {
  background-color: #db9300 !important;
}
/* background-color-transparent */

.bg-theme-colored-transparent-9 {
  background-color: rgba(255, 171, 0, 0.9);
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(255, 171, 0, 0.8);
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(255, 171, 0, 0.7);
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(255, 171, 0, 0.6);
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(255, 171, 0, 0.5);
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(255, 171, 0, 0.4);
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(255, 171, 0, 0.3);
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(255, 171, 0, 0.2);
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(255, 171, 0, 0.1);
}
.bg-theme-colored-transparent {
  background-color: rgba(255, 171, 0, 0.75) !important;
}
/* bg-hover-theme-color */

.bg-hover-theme-colored:hover {
  background: #D5007E !important;
  border-color: #D5007E !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1, .bg-hover-theme-colored:hover h2, .bg-hover-theme-colored:hover h3, .bg-hover-theme-colored:hover h4, .bg-hover-theme-colored:hover h5, .bg-hover-theme-colored:hover h6, .bg-hover-theme-colored:hover p, .bg-hover-theme-colored:hover a, .bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* Layer-overlay */

.overlay-theme-colored-1:before {
  background-color: rgba(255, 171, 0, 0.1) !important;
}
.overlay-theme-colored-2:before {
  background-color: rgba(255, 171, 0, 0.2) !important;
}
.overlay-theme-colored-3:before {
  background-color: rgba(255, 171, 0, 0.3) !important;
}
.overlay-theme-colored-4:before {
  background-color: rgba(255, 171, 0, 0.4) !important;
}
.overlay-theme-colored-5:before {
  background-color: rgba(255, 171, 0, 0.5) !important;
}
.overlay-theme-colored-6:before {
  background-color: rgba(255, 171, 0, 0.6) !important;
}
.overlay-theme-colored-7:before {
  background-color: rgba(255, 171, 0, 0.7) !important;
}
.overlay-theme-colored-8:before {
  background-color: rgba(255, 171, 0, 0.8) !important;
}
.overlay-theme-colored-9:before {
  background-color: rgba(255, 171, 0, 0.9) !important;
}
/* border-theme-color */

.border-theme-colored {
  border-color: #D5007E !important;
}
.border-theme-color-1px {
  border: 1px solid #D5007E !important;
}
.border-theme-color-2px {
  border: 2px solid #D5007E !important;
}
.border-theme-color-1px {
  border: 3px solid #D5007E !important;
}
.border-theme-color-1px {
  border: 4px solid #D5007E !important;
}
.border-theme-color-1px {
  border: 1px solid #D5007E !important;
}
.border-theme-color-1px {
  border: 1px solid #D5007E !important;
}
.border-theme-color-1px {
  border: 1px solid #D5007E !important;
}
.border-top-theme-color-1px {
  border-top: 1px solid #D5007E !important;
}
.border-top-theme-color-2px {
  border-top: 2px solid #D5007E !important;
}
.border-top-theme-color-3px {
  border-top: 3px solid #D5007E !important;
}
.border-top-theme-color-4px {
  border-top: 4px solid #D5007E !important;
}
.border-top-theme-color-5px {
  border-top: 5px solid #D5007E !important;
}
.border-top-theme-color-6px {
  border-top: 6px solid #D5007E !important;
}
.border-top-theme-color-7px {
  border-top: 7px solid #D5007E !important;
}
.border-top-theme-color-8px {
  border-top: 8px solid #D5007E !important;
}
.border-top-theme-color-9px {
  border-top: 9px solid #D5007E !important;
}
.border-top-theme-color-10px {
  border-top: 10px solid #D5007E !important;
}
/*Theme Colored Red Border-bottom-color*/

.border-bottom-theme-color-1px {
  border-bottom: 1px solid #D5007E !important;
}
.border-bottom-theme-color-2px {
  border-bottom: 2px solid #D5007E !important;
}
.border-bottom-theme-color-3px {
  border-bottom: 3px solid #D5007E !important;
}
.border-bottom-theme-color-4px {
  border-bottom: 4px solid #D5007E !important;
}
.border-bottom-theme-color-5px {
  border-bottom: 5px solid #D5007E !important;
}
.border-bottom-theme-color-6px {
  border-bottom: 6px solid #D5007E !important;
}
.border-bottom-theme-color-7px {
  border-bottom: 7px solid #D5007E !important;
}
.border-bottom-theme-color-8px {
  border-bottom: 8px solid #D5007E !important;
}
.border-bottom-theme-color-9px {
  border-bottom: 9px solid #D5007E !important;
}
.border-bottom-theme-color-10px {
  border-bottom: 10px solid #D5007E !important;
}
/*Theme Colored Red Border-left-color*/

.border-left-theme-color-1px {
  border-left: 1px solid #D5007E !important;
}
.border-left-theme-color-2px {
  border-left: 2px solid #D5007E !important;
}
.border-left-theme-color-3px {
  border-left: 3px solid #D5007E !important;
}
.border-left-theme-color-4px {
  border-left: 4px solid #D5007E !important;
}
.border-left-theme-color-5px {
  border-left: 5px solid #D5007E !important;
}
.border-left-theme-color-6px {
  border-left: 6px solid #D5007E !important;
}
.border-left-theme-color-7px {
  border-left: 7px solid #D5007E !important;
}
.border-left-theme-color-8px {
  border-left: 8px solid #D5007E !important;
}
.border-left-theme-color-9px {
  border-left: 9px solid #D5007E !important;
}
.border-left-theme-color-10px {
  border-left: 10px solid #D5007E !important;
}
/*Theme Colored Red Border-right-color*/

.border-right-theme-color-1px {
  border-right: 1px solid #D5007E !important;
}
.border-right-theme-color-2px {
  border-right: 2px solid #D5007E !important;
}
.border-right-theme-color-3px {
  border-right: 3px solid #D5007E !important;
}
.border-right-theme-color-4px {
  border-right: 4px solid #D5007E !important;
}
.border-right-theme-color-5px {
  border-right: 5px solid #D5007E !important;
}
.border-right-theme-color-6px {
  border-right: 6px solid #D5007E !important;
}
.border-right-theme-color-7px {
  border-right: 7px solid #D5007E !important;
}
.border-right-theme-color-8px {
  border-right: 8px solid #D5007E !important;
}
.border-right-theme-color-9px {
  border-right: 9px solid #D5007E !important;
}
.border-right-theme-color-10px {
  border-right: 10px solid #D5007E !important;
}
/* border-theme-color */

.border-theme-colored, .causes .progress-item .progress-bar .percent {
  border-color: #D5007E !important;
}
/* Layeroverlay */

.layer-overlay.overlay-red::before, .layer-overlay.overlay-theme-colored-deep::before, .post .entry-meta.meta-absolute, .volunteer .overlay, .bg-theme-colored-transparent-deep {
  background-color: rgba(255, 171, 0, 0.9) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper, .zeus .tp-bullet::after {
  background-color: #D5007E;
}
.preloader-dot-loading .cssload-loading i {
  background: #D5007E !important;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/

.tab-slider .nav.nav-pills a:hover, .tab-slider .nav.nav-pills a.active, .custom-nav-tabs>li>a:hover, .widget .tags a:hover, .progress-item .progress-bar, .small-title .title::after, .title-icon::before, .title-icon::after, .testimonial .item::after, .drop-caps.colored-square p:first-child:first-letter, .drop-caps.colored-rounded p:first-child:first-letter, .list-icon.theme-colored.square li i, .list-icon.theme-colored.rounded li i, .working-process.theme-colored a, .widget.dark .tags a:hover, .blog-posts .post .entry-content .post-date.right, .horizontal-tab-centered .nav-pills>li>a:hover, .horizontal-tab-centered .nav-pills>li.active>a, .horizontal-tab-centered .nav-pills>li.active>a:hover, .horizontal-tab-centered .nav-pills>li.active>a:focus, .owl-theme.dot-theme-colored .owl-controls .owl-dot span, .portfolio-filter a.active, .portfolio-filter a:hover, .pagination.theme-colored li.active a, .section-title .both-side-line::after, .section-title .both-side-line::before, .section-title .top-side-line::after, .section-title .left-side-line::before, .section-title .right-side-line::before, .product .tag-sale, .owl-theme .owl-dots .owl-dot.active span, .title-icon::after, .title-icon::before, .title-dots span, .portfolio-filter a.active, .portfolio-filter a:hover {
  background: #D5007E;
}
.ui-state-highlight {
  background: #D5007E !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/

ul.list.theme-colored li:before, ul.list.theme-colored.angle-double-right li:before, ul.list.theme-colored.angle-right li:before, ul.list.theme-colored.check-circle li:before, ul.list.theme-colored.check li:before, .list-icon.theme-colored li i, .title-icon [class^="flaticon-"]::after, .title-icon [class^="flaticon-"]::before, .menuzord-menu>li>.megamenu .megamenu-row li:hover>a, .menuzord-menu>li>.megamenu .megamenu-row .post a:hover, .menuzord-menu>li>.megamenu .megamenu-row li:hover>a i, .menuzord-menu>li>.megamenu .megamenu-row .post a:hover i, .pricing-table .table-list li i, .testimonial-carousel.boxed .content::after, .blog-posts .post .entry-meta li i, .widget .twitter-feed li::after, .widget .address li i, .icon-box.box-style1.practice-style3 i, .attorney-carousel .content .contact-area i, .attorney-address li i, .icon-box.services-style1:hover .heading, .horizontal-contact-widget .widget::before, .horizontal-contact-widget .each-widget::before, .small-title i, .drop-caps.text-colored p:first-child:first-letter, .schedule-box:hover .schedule-details .title a, .widget.dark .nav-tabs li.active a, .pagination.theme-colored li a, .pager.theme-colored a, .widget .post-title a:hover, .volunteer .info .name a, .donation-form .form-group label, .title-icon [class^="flaticon-"]::after, .title-icon [class^="flaticon-"]::before {
  color: #D5007E;
}
.star-rating span::before {
  color: #D5007E !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/

.line-bottom:after, .icon-box.icon-rounded-bordered i, .widget .line-bottom:after, .widget .line-bottom:after, .pager.theme-colored a {
  border: 1px solid #D5007E;
}
.border-theme-colored, .owl-theme .owl-dots .owl-dot span {
  border-color: #D5007E;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #D5007E transparent transparent;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #D5007E;
}
/* border-left-color */

blockquote.theme-colored {
  border-left: 3px solid #D5007E;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #0b6eb1;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #D5007E;
  color: #D5007E;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
.attorney-address li {
  border-left: 1px solid #D5007E;
}
.section-title.title-border {
  border-left: 4px solid #D5007E;
}
/* border-top-color */

.member-info {
  border-top: 3px outset #D5007E;
}
.cssload-tri {
  border-top: 27px solid #D5007E;
}
/* border-right-color */

.border-right-red {
  border-right: 1px solid #D5007E;
}
.section-title.title-border.title-right {
  border-right: 4px solid #D5007E;
}
/* border-bottom-color */

.border-bottom {
  border-bottom: 1px solid #D5007E;
}
.event {
  border-bottom-color: #D5007E;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #D5007E;
}
/* box-shadow */

/*
 * btn-default: theme-color
 * -----------------------------------------------
*/

.btn-default.btn-theme-colored {
  color: #D5007E;
  background-color: #fff;
  border-color: #D5007E;
}
.btn-default.btn-theme-colored:focus, .btn-default.btn-theme-colored.focus {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #805600;
}
.btn-default.btn-theme-colored:hover {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #c28200;
}
.btn-default.btn-theme-colored:active, .btn-default.btn-theme-colored.active, .open>.dropdown-toggle.btn-default.btn-theme-colored {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #c28200;
}
.btn-default.btn-theme-colored:active:hover, .btn-default.btn-theme-colored.active:hover, .open>.dropdown-toggle.btn-default.btn-theme-colored:hover, .btn-default.btn-theme-colored:active:focus, .btn-default.btn-theme-colored.active:focus, .open>.dropdown-toggle.btn-default.btn-theme-colored:focus, .btn-default.btn-theme-colored:active.focus, .btn-default.btn-theme-colored.active.focus, .open>.dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #D5007E;
  background-color: #d4d4d4;
  border-color: #805600;
}
.btn-default.btn-theme-colored:active, .btn-default.btn-theme-colored.active, .open>.dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover, .btn-default.btn-theme-colored[disabled]:hover, fieldset[disabled] .btn-default.btn-theme-colored:hover, .btn-default.btn-theme-colored.disabled:focus, .btn-default.btn-theme-colored[disabled]:focus, fieldset[disabled] .btn-default.btn-theme-colored:focus, .btn-default.btn-theme-colored.disabled.focus, .btn-default.btn-theme-colored[disabled].focus, fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #D5007E;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #D5007E;
}
.btn-default.btn-theme-colored:hover, .btn-default.btn-theme-colored:active, .btn-default.btn-theme-colored:focus {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/

.btn-border.btn-theme-colored {
  color: #D5007E;
  background-color: #fff;
  border-color: #D5007E;
}
.btn-border.btn-theme-colored:focus, .btn-border.btn-theme-colored.focus {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #805600;
}
.btn-border.btn-theme-colored:hover {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #c28200;
}
.btn-border.btn-theme-colored:active, .btn-border.btn-theme-colored.active, .open>.dropdown-toggle.btn-border.btn-theme-colored {
  color: #D5007E;
  background-color: #e6e6e6;
  border-color: #c28200;
}
.btn-border.btn-theme-colored:active:hover, .btn-border.btn-theme-colored.active:hover, .open>.dropdown-toggle.btn-border.btn-theme-colored:hover, .btn-border.btn-theme-colored:active:focus, .btn-border.btn-theme-colored.active:focus, .open>.dropdown-toggle.btn-border.btn-theme-colored:focus, .btn-border.btn-theme-colored:active.focus, .btn-border.btn-theme-colored.active.focus, .open>.dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #D5007E;
  background-color: #d4d4d4;
  border-color: #805600;
}
.btn-border.btn-theme-colored:active, .btn-border.btn-theme-colored.active, .open>.dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover, .btn-border.btn-theme-colored[disabled]:hover, fieldset[disabled] .btn-border.btn-theme-colored:hover, .btn-border.btn-theme-colored.disabled:focus, .btn-border.btn-theme-colored[disabled]:focus, fieldset[disabled] .btn-border.btn-theme-colored:focus, .btn-border.btn-theme-colored.disabled.focus, .btn-border.btn-theme-colored[disabled].focus, fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #D5007E;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #D5007E;
}
.btn-border.btn-theme-colored:hover, .btn-border.btn-theme-colored:active, .btn-border.btn-theme-colored:focus {
  background-color: #0b6eb1;
  border-color: #0b6eb1;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/

.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #D5007E;
  border-color: #D5007E;
}
.btn-dark.btn-theme-colored:focus, .btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #805600;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #c28200;
}
.btn-dark.btn-theme-colored:active, .btn-dark.btn-theme-colored.active, .open>.dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #c28200;
}
.btn-dark.btn-theme-colored:active:hover, .btn-dark.btn-theme-colored.active:hover, .open>.dropdown-toggle.btn-dark.btn-theme-colored:hover, .btn-dark.btn-theme-colored:active:focus, .btn-dark.btn-theme-colored.active:focus, .open>.dropdown-toggle.btn-dark.btn-theme-colored:focus, .btn-dark.btn-theme-colored:active.focus, .btn-dark.btn-theme-colored.active.focus, .open>.dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #a87100;
  border-color: #805600;
}
.btn-dark.btn-theme-colored:active, .btn-dark.btn-theme-colored.active, .open>.dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover, .btn-dark.btn-theme-colored[disabled]:hover, fieldset[disabled] .btn-dark.btn-theme-colored:hover, .btn-dark.btn-theme-colored.disabled:focus, .btn-dark.btn-theme-colored[disabled]:focus, fieldset[disabled] .btn-dark.btn-theme-colored:focus, .btn-dark.btn-theme-colored.disabled.focus, .btn-dark.btn-theme-colored[disabled].focus, fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #D5007E;
  border-color: #D5007E;
}
.btn-dark.btn-theme-colored .badge {
  color: #D5007E;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/

.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #ffbc33;
  border-color: #ffbc33;
}
.btn-gray.btn-theme-colored:focus, .btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #D5007E;
  border-color: #b37800;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #D5007E;
  border-color: #f5a400;
}
.btn-gray.btn-theme-colored:active, .btn-gray.btn-theme-colored.active, .open>.dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #D5007E;
  border-color: #f5a400;
}
.btn-gray.btn-theme-colored:active:hover, .btn-gray.btn-theme-colored.active:hover, .open>.dropdown-toggle.btn-gray.btn-theme-colored:hover, .btn-gray.btn-theme-colored:active:focus, .btn-gray.btn-theme-colored.active:focus, .open>.dropdown-toggle.btn-gray.btn-theme-colored:focus, .btn-gray.btn-theme-colored:active.focus, .btn-gray.btn-theme-colored.active.focus, .open>.dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #db9300;
  border-color: #b37800;
}
.btn-gray.btn-theme-colored:active, .btn-gray.btn-theme-colored.active, .open>.dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover, .btn-gray.btn-theme-colored[disabled]:hover, fieldset[disabled] .btn-gray.btn-theme-colored:hover, .btn-gray.btn-theme-colored.disabled:focus, .btn-gray.btn-theme-colored[disabled]:focus, fieldset[disabled] .btn-gray.btn-theme-colored:focus, .btn-gray.btn-theme-colored.disabled.focus, .btn-gray.btn-theme-colored[disabled].focus, fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #ffbc33;
  border-color: #ffbc33;
}
.btn-gray.btn-theme-colored .badge {
  color: #ffbc33;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/

.btn-theme-colored {
  background-color: #0b6eb1;
  border-color: #0b6eb1;
}
.btn-theme-colored:focus, .btn-theme-colored.focus {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #805600;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #c28200;
}
.btn-theme-colored:active, .btn-theme-colored.active, .open>.dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #0b6eb1;
  border-color: #c28200;
}
.btn-theme-colored:active:hover, .btn-theme-colored.active:hover, .open>.dropdown-toggle.btn-theme-colored:hover, .btn-theme-colored:active:focus, .btn-theme-colored.active:focus, .open>.dropdown-toggle.btn-theme-colored:focus, .btn-theme-colored:active.focus, .btn-theme-colored.active.focus, .open>.dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #a87100;
  border-color: #805600;
}
.btn-theme-colored:active, .btn-theme-colored.active, .open>.dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover, .btn-theme-colored[disabled]:hover, fieldset[disabled] .btn-theme-colored:hover, .btn-theme-colored.disabled:focus, .btn-theme-colored[disabled]:focus, fieldset[disabled] .btn-theme-colored:focus, .btn-theme-colored.disabled.focus, .btn-theme-colored[disabled].focus, fieldset[disabled] .btn-theme-colored.focus {
  background-color: #D5007E;
  border-color: #D5007E;
}
.btn-theme-colored .badge {
  color: #D5007E;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/

.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #D5007E;
  border-color: #D5007E;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #0b6eb1;
  border-color: #0b6eb1;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #D5007E;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #D5007E;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #ffbc33;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #0b6eb1;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
/*
 * Shortcode: styled-icons Theme Colored
 * -----------------------------------------------
*/

.icon-theme-colored a {
  color: #D5007E;
}
.icon-theme-colored.icon-bordered a {
  border-color: #D5007E;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #D5007E;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #D5007E;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #0b6eb1;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #D5007E;
  color: #D5007E;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #D5007E;
}
.icon-theme-colored.icon-gray a:hover {
  color: #0b6eb1;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #D5007E;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #D5007E;
}
.icon-theme-colored a:hover {
  color: #0b6eb1;
}
.icon-hover-theme-colored a:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
.styled-icons.icon-hover-theme-colored a:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/

.icon-box.iconbox-theme-colored .icon {
  color: #D5007E;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #D5007E;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #D5007E;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #D5007E;
  color: #D5007E;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #D5007E;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #D5007E;
  border-color: #D5007E;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #D5007E;
}